[defaults]
inventory          = inventory/hosts.example
remote_user        = root
become             = true
become_method      = sudo
host_key_checking  = false
gathering          = smart
# Accélération des facts via cache
fact_caching       = jsonfile
fact_caching_connection = /tmp/ansible_facts_cache
fact_caching_timeout = 3600

[privilege_escalation]
become       = true
become_method = sudo
become_user  = root
become_ask_pass = true

[ssh_connection]
pipelining   = false
ssh_args     = -o ControlMaster=auto -o ControlPersist=60s -o RequestTTY=force
